In [49]:
library (readr)
library(dplyr)
library(DescTools)
datas <- dplyr::as_tibble(readr::read_csv("input.txt"))
colnames(datas)<-c("col1")

── Column specification ────────────────────────────────────────────────────────
cols(
  `193` = col_double()
)

In [52]:
answer<-(datas 
         %>% mutate (
           delta=lag(col1,n=1),
           delta=if_else(is.na(delta),0,delta),  
           sup=if_else(col1>delta,1,0)
         )
)
# answer

In [53]:
answer<-(answer 


         %>% summarise(
           nb_sup=sum(sup, na.rm= TRUE)
         )
)



answer

  nb_sup
1 1832